.DS_Store

*.swp
*~
*.class

bin/
lib/

marswars/resources/HUDAssets/minimap.png

# Gradle
build
.gradle

# Eclipse
.project
.classpath
.settings
.metadata

# IntelliJ IDEA
*.iml
.idea

# Crash reports
*.log


#UML Diagram
*.ucls

Thumbs.db


# Merge conflicts
*.orig


# Local sonar installations
sonar-project.properties
.sonar/
/nbproject/private/
/MarsWars/.nb-gradle/
/MarsWars2/.nb-gradle/
