.DS_Store

*.swp
*~
*.class

bin/
lib/

marswars/resources/HUDAssets/minimap.png
marswars/resources/mapAssets/tmap.tmx
marswars/resources/mapAssets/temp.tmx
marswars/save.bin

# Gradle
build
.gradle

# Eclipse
.project
.classpath
.settings
.metadata

# IntelliJ IDEA
*.iml
.idea

# Crash reports
*.log


#UML Diagram
*.ucls

Thumbs.db


*.orig


# Local sonar installations
sonar-project.properties
.sonar/
/nbproject/private/
/MarsWars/.nb-gradle/
/MarsWars2/.nb-gradle/
deco2800-2017-spacwars.ipr
deco2800-2017-spacwars.iws
.recommenders/
